<div><img src="https://obp-web-image-library.s3-us-west-2.amazonaws.com/Small+Group+Adventures/Yellowstone+Wildlife+Safari/Hero+Images/YNPSafari_MadisonRiver.jpg" class="rounded mx-auto d-block" class="img-fluid" width="900" height="400"></div>


<div class="d-flex justify-content-around mt-3">

    <p class="font-weight-light"><%= link_to "Find a Park", parks_path %></p>
    <p class="font-weight-light"><%= link_to "Find a Trail", trails_path %></p>

    <p class="font-weight-light"><%= link_to "Washington Parks", parks_path %></p>
    <p class="font-weight-light"><%= link_to "California Parks", trails_path %></p>

</div>
