<div class="container-fluid-nav text-center">
    <div class="mt-5">
        <ul>
            <li class="font-weight-light list-inline-item"><a href="/parks">Find a Park </a></li>
            <a id="icon" class="navbar-brand" >
            <img src="https://png.pngtree.com/element_our/sm/20180515/sm_5afae6128cc9c.jpg" width="60" height="60" alt="">
            </a>
            <li class="font-weight-light list-inline-item"><a href="/trails">Find a Trail</a></li>
        </ul>
    </div>
</div>

<img src="https://obp-web-image-library.s3-us-west-2.amazonaws.com/Small+Group+Adventures/Yellowstone+Wildlife+Safari/Hero+Images/YNPSafari_MadisonRiver.jpg" class="rounded mx-auto d-block img-fluid" width="900" height="400">

<div class="d-flex justify-content-around mt-3">

    <p class="font-weight-light"><%= link_to "Find a Park", parks_path %></p>
    <p class="font-weight-light"><%= link_to "Find a Trail", trails_path %></p>
    <p class="font-weight-light"><%= link_to "Washington Parks", parks_path %></p>
    <p class="font-weight-light"><%= link_to "California Parks", trails_path %></p>

</div>

