


<h2>Your Liked Trails:</h2>



 <div class="album ">
   <div class="container-fluid">
      <div class="row">
     <% @user.liked_trails.each do |liked_trail|%>
            

             <%= render partial: "trails/trail", locals: {trail: liked_trail.trail}%>

            
              
          <%end%>
    </div>
  </div>
</div>








<!--Edit Account -- >