 See Trails by State: <%= link_to " California Trails", trail_state_path("CA")%> | 
 <%= link_to "Washington Trails", trail_state_path("WA")%><br><br>



<%# if there is a url request to show by state, show only that state%>
<div class="album ">
   <div class="container-fluid">
      <div class="row">
          <%Trail.bystate(state:params[:state]).each do |trail| %>

          <%= render partial: "trails/trail", locals: {trail: trail}%>
          
          <%end%>
    </div>
  </div>
</div>


<%if !params[:state]%>
<%# if there is no request for trails by state, show all the trails%>

<div class="album ">
   <div class="container-fluid">
      <div class="row">
          <% Trail.all.each do |trail|%>
          
            <%= render partial: "trails/trail", locals: {trail: trail}%>
          
          <%end%>
    </div>
  </div>
</div>
<%end%>