<h2 class="font-weight-light text-center mt-5">Your Liked Trails</h2>

 <div class="text-center font-weight-light mt-3 album">
   <div class="container-fluid">
      <div class="row">
     <% @user.liked_trails.each do |liked_trail|%>
          <%= render partial: "trails/trail", locals: {trail: liked_trail.trail}%>
          </div>
      <%end%>
    </div>
  </div>
</div>
